<% content_for :js do %>
  activateNav('update');
<% end %>

<div class="row-fluid">
  <div class="offset3 span9">
    <%= form_for @gangplank, :html => {:class => 'form-inline pull-left'} do |f| %>
      <%= f.time_field :open_until, :placeholder => 'Open Until', :class => 'input-medium tall-time' %>
      <%= f.submit 'Save', :class => 'btn btn-large btn-primary' %>
    <% end %>

    <%= form_for @gangplank, :html => {:class => 'form-inline pull-left second-submit'} do |f| %>
      <%= f.hidden_field :open_until, :value => nil %>
      <%= f.submit 'Close GP', :class => 'btn btn-large btn-danger' %>
    <% end %>
  </div>
</div>
