<!DOCTYPE html>
<html>
<head>
  <title>IsItOpen</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    $(function() {
      <%= yield :js %>
    });
  </script>
</head>
<body>

<div class="container-narrow">
  <div class="masthead">
    <ul class="nav nav-pills pull-right">
      <li class="status"><%= link_to 'Status', root_path %></li>
      <li class="update"><%= link_to 'Update', edit_gangplank_path %></li>
      <li><%= link_to 'Source', 'http://github.com/royvandewater/is-it-open' %></li>
    </ul>

    <h3 class="muted">Is It Open?</h3>
  </div>

  <hr />

  <%= yield %>
</div>

</body>
</html>
